@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
nav.fixed-top.navbar.navbar-expand-md {
  background: white;
}
.nav_img_btn {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  padding: 0;
}

a {
  color: #153d4f;
}

.navbar-nav a {
  margin: 0px 10px !important;
}

.navbar-nav button {
  margin: 0px 15px !important;
}

.header {
  position: relative;
}

.header_content {
  position: relative;
  color: white;
  text-align: revert;
  padding: 8% 12%;
  font-size: 2.8rem;
}

.header_content span:last-child::after {
  content: '';
  position: absolute;
  bottom: 5rem;
  height: 4px;
  left: 12%;
  width: 15%;
  background: white;
}

@media screen and (max-width: 400px) {
  .header_content {
    font-size: 2rem;
    padding-top: 20%;
  }

  .header_content span:last-child::after {
    bottom: 1rem;
  }
}

.search_card {
  position: absolute;
  left: 10%;
  top: 82%;
  width: 70%;
  min-height: 80px;
  background-color: white;

}

.search_card span {
  background-color: #F44336;
}

.search_card .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  height: 100px;
}

.search_card .row .col-lg-3,
.search_card .row .col-lg-4,
.search_card .row .col-lg-3,
.search_card .row .col-lg-1 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.search_card .row .col-lg-3 .md-form,
.search_card .row .col-lg-4 .md-form,
.search_card .row .col-lg-1 .md-form {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.search_input {
  padding: 20px !important;
  border-bottom: none !important;
  height: 100px !important;
  border-right: 1px solid lightgray !important;
}

.search_input span {
  background: transparent;
}

.search_input span:first-child {
  font-size: 18px;
  font-weight: 500;
}

.search_input span:last-child {
  font-size: 12px;
  color: rgb(161, 161, 161);
}

.search_btn {
  position: absolute;
  right: -10%;
  padding: 4%;
  height: 100px;
  text-align: center;
  background: #F44336;
  border-radius: .25rem;
  border-bottom-left-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: background .5s;
}

.search_btn:hover {
  background: rgb(250, 174, 33);
}

/* seaction */
.section {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.section_heading {
  position: relative;
  font-weight: 300;
  color: #153d4f;
}

.section_heading::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  background: #153d4f;
  height: 4px;
  width: 10%;
}

.card-body h1 {
  font-size: 22px;
}
.card-body p {
  font-size: 14px;
  color: gray;
}

.table td:first-child {
  font-weight: 500;
  text-align: left;
}
.table td:last-child {
  font-weight: 400;
  text-align: right;
}
.table td {
  border-top: none !important;
  font-size: 13px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.section_btn {
  background-color: #F44336 !important;
}
.section2_img {
  height: 400px !important;
  width: 100%;
}
.red {
  background: transparent !important;
  color: #F44336;
}
.green_card {
  padding: 8px;
  background: #eff5f4;
}
.section3_card {
  padding: 10px;
  margin-top: 20px
}
.section3_img {
  width: 100%
}

.btn_outline {
  background: transparent !important;
  color: #F44336;
  border: 1px solid #F44336;
  transition: background .5s, color .5s;
}
.btn_outline:hover {
  background: #F44336 !important;
  color: white !important;
}